<div class="container">
  <h1>Share Your Wedding Pics!</h1>
  <p>Upload a photo for the happy couple to cherish forever 💖</p>
  <app-photo-input />
  @if (store.hasStagedFiles()) {
  <button class="button is-primary"  [class.is-loading]="store.isUploadingFiles()"
    (click)="store.uploadStagedFiles()">{{store.isUploadingFiles() ? 'Uploading...' : 'Upload selected photos'}}</button>
  }

<a class="is-text" (click)="navigator.navigateDown()">
  <div class="to-gallery-button">
    <span>To Photo Gallery</span>
    <i class="fa-solid fa-arrow-down"></i>
  </div>
</a>
</div>