:host {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
    p {
        color: #221e1e;
      }
      .info-text {
        margin-top: 20px;
      }

      .icon {
        color: #e91e63;
      }

      .file-input {
        display: none;
      }

      swiper-container {
        width: 100%;
        flex: 1;
        min-height: 0;
      }
      .swiper-image {
        object-fit: cover;
        border-radius: 8px;
      }
}