<div class="btns-container">
  <button (click)="onFileSelectionTrigger()" class="button">
    <span class="icon">
      <i class="fa-solid fa-upload"></i>
    </span>
    <span>Upload</span>
  </button>
  <p>or</p>
  <button (click)="onCameraTrigger()" class="button">
    <span class="icon">
      <i class="fa-solid fa-camera"></i> </span><span>Take a Photo!</span>
  </button>
</div>

<input type="file" class="file-input" onclick="value = null" #fileInput>
<input type="file" class="file-input" accept="image/*" capture #cameraInput>

@if (store.hasStagedFiles()) {
<p>Selected photo(s):</p>
} @else {
  @if(store.uploadStatus() === 'success') {
    <p class="has-text-success">
      <i class="fa-solid fa-circle-check"></i>
      Photos uploaded! Thank you! Feel free to upload more.
    </p>    
  }
  @else {<p>Select some photos to upload!</p>}
}

<swiper-container #swiperEl pagination="true" effect="coverflow" navigation="true">
  @for (imgUrl of store.stagedFileUrls(); track $index) {
  <swiper-slide><app-staged-photo [imageSrc]="imgUrl" (remove)="onPhotoRemove($index)" /></swiper-slide>
  }
</swiper-container>