<swiper-container #swiperEl pagination="true" pagination-clickable="true" space-between="15" slides-per-view="auto" navigation="true" centered-slides="true">
@for (imgUrl of store.stagedFileUrls(); track $index) {
<swiper-slide style="width: fit-content;">
  <img [src]="imgUrl" class="staged-image"/>
</swiper-slide>
}
</swiper-container>

<div class="btns-container">
  <button (click)="onFileSelectionTrigger()" class="button">
    <span class="icon">
      <i class="fa-solid fa-upload"></i>
    </span>
    <span>Upload</span>
  </button>
  <p>or</p>
  <button (click)="onCameraTrigger()" class="button">
    <span class="icon">
      <i class="fa-solid fa-camera"></i> </span><span>Take a Photo</span>
  </button>
</div>

<input type="file" multiple="true" accept="image/*"  class="file-input" onclick="value = null" #fileInput>
<input type="file" multiple="true" class="file-input" accept="image/*" capture #cameraInput>
