<a class="is-text" (click)="navigator.navigateUp()">
  <div class="to-upload-button">
    <i class="fa-solid fa-arrow-up"></i>
    <span>To Photo Upload</span>
  </div>
</a>

<p class="wedding-title">
  Qna and Kiril's wedding
</p>
<p class="wedding-subtitle">
  06.06.2025
</p>

<ngx-masonry [options]="masonryOptions" [ordered]="true">
  <div class="grid-sizer"></div>
  <div ngxMasonryItem [prepend]="true" class="grid-item" *ngFor="let url of store.galleryImageUrls(); index as i; trackBy: trackByUrl" >
    <img [src]="url">
  </div>
</ngx-masonry>
